<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件间传值</title>
    <script src="../vue1028.js"></script>
</head>
<body>
<!-- 利用ispa来切换组件 利用component结合is属性动态显示子组件 -->
<template id="account">
    <a href="#" @click="this.componentName='login'">登录</a>
    <a href="#" @click="this.componentName='register'">注册</a>

    <login></login>
    <!-- 父组件向子组件传值 -->
    <register :data="msg"></register>
</template>

    <div id="app">
        <account></account>
    </div>
</body>
<script>
   Vue.component("account", {
       template: "#account",
       //定义和注册子组件
       components: {
           login: {
               template: "<h1>我是登录</h1>"
           },
           register:{
               template: "<h1>我是注册=>{{data}}</h1>",
               props: ["data"]
           }
       },
       data(){
           return {
               msg: "我是父组件传递过来的数值"
           }
       }
   })

    new Vue({
        el: "#app"
    })
</script>
</html>